@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fdf5c9;  /* Light pastel yellow */
  border-radius: 10px;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #ffcc00;  /* Bright yellow */
  border-radius: 10px;
  border: 3px solid #fdf5c9;  /* Lighter yellow border */
  transition: all 0.3s ease;
}

/* Hover Effect */
::-webkit-scrollbar-thumb:hover {
  background: #ffb300;  /* Darker yellow on hover */
}

/* Up and Down Icons */
::-webkit-scrollbar-button:single-button {
  background: #ffcc00;  /* Same yellow shade as thumb */
  display: block;
  border-radius: 50%;
  height: 15px;   /* Matching the width */
  width: 15px;    
  transition: all 0.3s ease;
}

/* Up Arrow */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  background: #ffcc00 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333"><path d="M7 14l5-5 5 5z"/></svg>') no-repeat center;
  background-size: 60%;
}

/* Down Arrow */
::-webkit-scrollbar-button:single-button:vertical:increment {
  background: #ffcc00 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat center;
  background-size: 60%;
}

/* Hover Effect for Buttons */
::-webkit-scrollbar-button:hover {
  background: #ffb300;  /* Darker yellow */
}


.shared-bg {
  background-image: url('/bg3.png');
  background-size: cover;
  background-position: center;
}

html {
    scroll-behavior: smooth;
  }
  
  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;
  
      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;
  
      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;
  
      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;
  
      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;
  
      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;
  
      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;
  
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;
  
      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;
  
      --radius: 0.5rem;
    }

  }

  